/* src/App.css */
body {
  background: linear-gradient(135deg, #d0e0ff 50%, #f0f0f0 50%); /* Light blue to soft gray */
  color: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
 
.App {
  background: rgba(255, 255, 255, 0.98); /* Nearly opaque white for better readability */
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #0056b3; /* Darkened blue for better contrast */
  padding: 10px 20px;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
 
.navbar-left {
  display: flex;
  align-items: center;
}
 
.logo {
  width: 40px;
  margin-right: 10px;
}
 
.app-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
 
.navbar-right {
  display: flex;
  align-items: center;
}
 
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  background: #007bff; /* Standard blue for links */
  border-radius: 4px;
  margin-left: 10px;
}
 
.nav-link:first-child {
  margin-left: 0;
}
 
.nav-link:last-child {
  margin-right: 10px;
}
 
.content {
  width: auto;
  margin-top: 100px; /* Adjust for fixed navbar */
}
 
h1, h2 {
  color: #007bff; /* Blue for headings to maintain theme consistency */
}
 
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}
 
.form-group select, input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  transition: border-color 0.3s ease;
}
 
input:focus {
  border-color: #007bff; /* Focus color */
}
 
button {
  background: #0056b3; /* Darker blue for buttons */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}
 
button:hover {
  background: #003a70; /* Even darker for hover effect */
}
 
.result {
  text-align: center;
  margin-top: 30px;
}
 
.result p {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}
 
.card-logo {
  position: absolute;
  right: 10px;
  top: 35px;
  width: 40px;
}
 
@media (max-width: 600px) {
  .App {
    padding: 20px;
    width: 90%;
  }
 
  .navbar {
    padding: 5px 15px;
  }
 
  form {
    grid-template-columns: 1fr;
  }
}


.icons-container {
  display: flex;
  justify-content: center;
  gap: 20px;  /* Adjust the gap as needed */
  margin-top: 0px;  /* Adjust the margin as needed */
}

.icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.icon-link p {
  margin-top: 10px;  /* Adjust the margin as needed */
  font-size: 1.2rem;  /* Adjust the font size as needed */
}

